In [1]:
import pandas as pd

In [6]:
police_data = pd.read_csv("Police Data.csv")
police_data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [7]:
police_data.shape

(65526, 15)

In [8]:
# check for null values
police_data.isnull().sum()

stop_date                 2
stop_time                 0
country_name          65526
driver_gender          4052
driver_age_raw         4045
driver_age             4298
driver_race            4051
violation_raw          4051
violation              4051
search_conducted          0
search_type           63047
stop_outcome           4051
is_arrested            4051
stop_duration          4051
drugs_related_stop        0
dtype: int64

In [9]:
# mahority of null values are in the country_name and search type; drop the columns
police_data.drop(columns = ['country_name', 'search_type'], inplace = True)

In [10]:
police_data.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,M,1985.0,20.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
1,1/18/2005,8:15,M,1965.0,40.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,Citation,False,0-15 Min,False